:root {
    --primary: #439eaa;
    --sec: rgb(25, 24, 34);
}

.container {
    background-color: #212529;
    color: #fff;
    max-inline-size: 100%;
    margin: 0;
}

.gaminicon-form-container {
    max-width: 380px;
    background-color: rgb(25, 24, 34);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.gaminicon-form {
    width: calc(100% - 20px);
}

.gaminicon-form-group {
    margin-bottom: 20px;
}

.gaminicon-form-group label {
    font-size: 12px;
    color: rgb(142, 140, 148);
}

.gaminicon-form-btn-container {
    display: flex;
    justify-content: center;
}

.gmnc-form-btn {
    padding: 8px 28px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    background-color: #054650;
    color: #fff;
    cursor: pointer;
    text-decoration-color: transparent;
}

.gmnc-form-btn:hover {
    padding: 6px 26px;
    transition: all 0.3s ease-out;
    background-color: var(--primary);
    color: #fff;
    border-radius: 4px;
    border: 2px solid #054650;
}

.gaminicon-game-card-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.gaminicon-card-bottom-container {
    background-color: rgb(25, 24, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
}

.gaminicon-card-bottom-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
}