.dropdonw-menu {
    background: #1bbdb7;
    width: 300px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    border-radius: 5px;
}

.dropdonw-menu li {
    background: #1bbdb7;
    cursor: pointer;
    border-radius: 5px;
}

.dropdonw-menu li:hover {
    background: #1bbdb7;
    border-radius: 5px;
}

.dropdonw-menu.clicked {
    display: none;
}

.dropdonw-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

@media screen and (max-width: 960px) {
    .fa-creat-down {
        display: none;
    }
}