.dropdonw-menu {
    background: #006066;
    width: 250px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: #006066;
    cursor: pointer;
}

.dropdonw-menu li:hover {
    background: #439eaa;
    border-radius: 3px;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}