* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.home {
    background-image: url('assets/img/img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}