:root {
    --primary: #439eaa;
    --sec: #00020D
}

.gaminicon-btn {
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
}

.gaminicon-btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: 2.5px solid var(--primary);
}