.article-container {
    background-color: rgb(25, 24, 34);
    margin: 0;
    width: initial;
    text-align: center;
    border-radius: 10px;
}

.article-content {
    display: grid;
    margin: 5px;
}